/* css styles */
/* General Body Styling */
body {
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #2c6b47; /* Medium green background for header */
    color: #e2f1e0; /* Light green text for header */
    padding: 20px;
    text-align: center;
}

